body{
background-color: rgba(19, 155, 155, 0.596);
}

.Formulario{
    background-color: rgba(255, 255, 255, 0.849);
    width:auto;
    display: flex;
    margin-top: 8%;
}

form{
margin: auto;
padding-left: 25% ;
width: 40%;
font-size: 85%;
}

.img{
    width:30%;
    height:20%;
    padding-right: 20%;
    float: right;
    margin: auto;
}

.error{
    color: rgb(12, 142, 142);
    font-weight: bold;
    margin-left: 8%;
}

button{
    font-size:90%;
    background-color:rgb(224, 186, 157);
    border-radius: 15%;
    border-color:white;
    padding: 3%;
}



